<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div class="container">
        <div class="top-menu">
            <div class="top-menu-content">
                <a href="/" class="top-menu-link">Home</a>
                <a href="/templates/contact.html" class="top-menu-link">Contact Us</a>
            </div>
        </div>
        <div class="error-content">
            <h1>Oops! Something went wrong.</h1>
            <p>We are experiencing technical issues. Please try again later.</p>
           
        </div>
    </div>
    
</body>

</html>
